* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to right,
    #b2a3dc,
    #abafe0,
    #a9bae1,
    #acc3e0,
    #b5cbdd
  );
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
}

form {
  margin-bottom: 20px;
}

#form_Title {
  margin: 20px;
}
select,
input[type="number"] {
  padding: 3px 12px;
  margin: 5px;
  /* font-size: 10px; */
}
button {
  padding: 8px 20px;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(193, 198, 201);
}
button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.19);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  background-color: rgb(216, 228, 230);
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  width: 25%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.19);
}
.card img {
  height: 80%;
  width: 100%;
}

.card h4 {
  margin: 10px 0 5px;
  text-transform: capitalize;
}
.card p {
  margin: 5px 0 0;
  font-size: 14px;
}
#loading {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
#error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
